@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}
html, body {
  min-height: 100%;
  font-size: 20px;
  padding: 10px;
}
body {
  background: radial-gradient(at top left, rgba(70, 130, 180, 1) 0%, rgba(34, 139, 34, 1) 100%);
  background-repeat: no-repeat;
}

/* p {
  margin: 16px auto;
  line-height: 1.5em;
} */
p {
  margin: 2.5rem auto; /* 1rem is relative to the root font size */
  line-height: 1.6; /* Slightly increased for better readability */
}

@media (max-width: 600px) {
  p {
    margin: 0.5rem auto; /* Reduced margin for smaller screens */
    line-height: 1.4; /* Slightly reduced line height for smaller screens */
  }
}


/* layout & nav */
.layout {
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}
nav .links {
  display: inline-block;
  text-align: right;
}
nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}
nav a:hover {
  border-color: white;
}
footer p{
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}