.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  align-items: center;
}
.header h2 {
  font-size: 4em;
}
.header h3 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  background: rgba(70, 130, 180, 1); /* Initial button color matching the gradient start color */
  padding: 12px 20px; /* Slightly larger padding for better touch targets */
  border-radius: 5px; /* Subtle rounding for a modern look */
  margin-top: 20px;
  font-weight: 600; /* Slightly bolder font weight for emphasis */
  color: #fff; /* White text for better contrast */
  text-align: center; /* Center-align text */
  text-decoration: none; /* Remove underline from links */
  transition: background 0.3s; /* Smooth transition for hover effect */
}

.btn:hover {
  background: rgba(34, 139, 34, 1); /* Button hover color matching the gradient end color */
}